[user]
	name = 
	email = 
[credential]
	helper = store
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[core]
	editor = nvim 
[protocol "file"]
	allow = always
